.idea
**/__pycache__/
data/**
test.py
ui_training.py
tests/
junk/**
junk/main.py
junk/xcrypt.py
junk/xcrypt_ui.py
junk/data_model.py
junk/model.py
junk/main_controller.py
junk/controller.py
junk/view.py
junk/main_frame.py
junk/app.py